
@using (Html.BeginForm("ProcessImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form runat="server">
        <h2>Attach image here:</h2>
        <input type="file" name="file" required onchange="document.getElementById('img').src = window.URL.createObjectURL(this.files[0])"/>
        <br />
        <input  class="btn btn-primary" type="submit" value="Scan Image" />
    </form>
}